@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

a {
    text-decoration: none;
}
/***li {
    list-style: none;
}

/* NAVBAR MENU */
/***.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
}
***/ 

li{
    list-style: none;
}

.menu{
    display: flex;
    gap: 1.5em;
    font-size: 20px;
    font-family: "Gloria Hallelujah", cursive;
    justify-content: right;
}

body{
    background-color: #686c78;
}